.accordion {
  width: 100%;
  margin: 20px 0px;
  box-shadow: rgba(51,51,51,0.51) 0px 2px 2px;
}

.accordion-item .accordion-header {
  padding: 10px;
  background-color: #56BFED;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  font-weight: bolder;
  cursor: pointer;

}
.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-arrow-circle-right {
  -webkit-transition: all .42s ease-out;
  -moz-transition: all .42s ease-out;
  -o-transition: all .42s ease-out;
  transition: all .42s ease-out;
}
.accordion-item .accordion-body {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.accordion-item .accordion-body .content {
  padding: 20px;
}

.accordion-item.closed .accordion-body {
  max-height: 0px;
  -webkit-transition: max-height .22s ease-out;
  -moz-transition: max-height .22s ease-out;
  -o-transition: max-height .22s ease-out;
  transition: max-height .22s ease-out;
}

.accordion-item.open .accordion-body {
  max-height: 1000px;
  z-index: 1;
  -webkit-transition: max-height 1s ease-in;
  -moz-transition: max-height 1s ease-in;
  -o-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}